/*-------Navigation--------*/
#navbarNavAltMarkup{
    justify-content: flex-end;
}
/*-------Header--------*/
.banner-img{
    width:100%;
    height: 35em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("http://via.placeholder.com/800x650");
}
        /*contacts div*/
div.feature h2{
    text-align:center;
}
div.feature img{
    display:block;
    margin:auto;
}
        /*price div*/
div.price{
    border: 1px solid black;
    margin:15px 15px 0px 0px;
    text-align: center;
    padding:1em 3em;
}
.price-figure{
    font-size: 2em;
}
.price h5{
    margin-bottom: 1.5em;
}
        /*contacts div*/
div.plans,div.contact-info{
    text-align:center;
}
div.plans p{
    margin:0;
}
div.contact-items h6{
    display:inline-block;
    margin-right: 50px;
}
div.contact-items i{
    margin-right:10px;
}
div.contact-info p{
    margin:0;
}
            /*download div*/
div.download{
    text-align:center;
}
div.download p{
    margin:0;
}
.footer-img{
    width:100%;
    height: 25em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("http://via.placeholder.com/800x300");
}